@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-500: theme('colors.indigo.500');
  }

  /* Theme-specific scopes */
  [data-theme="default"] {
    --primary-500: theme('colors.theme-one.500');
  }
  [data-theme="ocean"] {
    --primary-500: theme('colors.theme-two.500');
  }
  [data-theme="pink"] {
    --primary-500: theme('colors.theme-three.500');
  }
}
